<div class="container ">
    <div class="sideBar">

        sideBar
    </div>

    <header class="header">
        Header
    </header>
    <div class="realtors">
        realtors
    </div>
    <section class="features">
        <div class="feature">
            <svg class="feature__icon">
                <use xlink:href="../assets/images/sprite.svg#icon-global"></use>
            </svg>
            <h4 class="heading-4 heading-4--dark">Heading One</h4>
            <p class="feature__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur distinctio necessitatibus pariatur voluptatibus.</p>
        </div>
        <div class="feature">
            <svg class="feature__icon">
                <use xlink:href="../assets/images/sprite.svg#icon-heart-full"></use>
            </svg>
            <h4 class="heading-4 heading-4--dark">Heading Two</h4>
            <p class="feature__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur distinctio necessitatibus pariatur voluptatibus.</p>
        </div>
        <div class="feature">
            <svg class="feature__icon">
                <use xlink:href="../assets/images/sprite.svg#icon-presentation"></use>
            </svg>
            <h4 class="heading-4 heading-4--dark">Heading Three</h4>
            <p class="feature__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur distinctio necessitatibus pariatur voluptatibus.</p>
        </div>
        <div class="feature">
            <svg class="feature__icon">
                <use xlink:href="../assets/images/sprite.svg#icon-expand"></use>
            </svg>
            <h4 class="heading-4 heading-4--dark">Heading Four</h4>
            <p class="feature__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur distinctio necessitatibus pariatur voluptatibus.</p>
        </div>
        <div class="feature">
            <svg class="feature__icon">
                <use xlink:href="../assets/images/sprite.svg#icon-lock"></use>
            </svg>
            <h4 class="heading-4 heading-4--dark">Heading Five</h4>
            <p class="feature__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur distinctio necessitatibus pariatur voluptatibus.</p>
        </div>
        <div class="feature">
            <svg class="feature__icon">
                <use xlink:href="../assets/images/sprite.svg#icon-trophy"></use>
            </svg>
            <h4 class="heading-4 heading-4--dark">Heading Six</h4>
            <p class="feature__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur distinctio necessitatibus pariatur voluptatibus.</p>
        </div>
    </section>


    <div class="story__pictures">
        <img src="../assets/images/story-1.jpeg" class="story__img-1" alt="couple" >
        <img src="../assets/images/story-2.jpeg" class="story__img-2" alt="scenary">
    </div>

`   <div class="story__content">
    <h3 class="heading-3 mb-sm">Lorem, ipsum dolor sit amet</h3>
    <h2 class="heading-2 heading-2--dark mb-lg">&ldquo;Lorem, ipsum dolor sit amet&rdquo;</h2>
    <p class="story__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur distinctio necessitatibus pariatur voluptatibus.</p>
    <button class="btn">Click here to learn more</button>
    </div>



    <section class="homes">

        <!-- Card starts -->
        <div class="home">
            <img src="../assets/images/house-1.jpeg" alt="House 1" class="home__img">
            <svg class="home__like">
                <use xlink:href="img/sprite.svg#icon-heart-full"></use>
            </svg>
            <h5 class="home__name">Beautiful Familiy House</h5>
            <div class="home__location">
                <svg>
                    <use xlink:href="../assets/images/sprite.svg#icon-map-pin"></use>
                </svg>
                <p>USA</p>
            </div>
            <div class="home__rooms">
                <svg>
                    <use xlink:href="../assets/images/sprite.svg#icon-profile-male"></use>
                </svg>
                <p>5 rooms</p>
            </div>
            <div class="home__area">
                <svg>
                    <use xlink:href="../assets/images/sprite.svg#icon-expand"></use>
                </svg>
                <p>325 m<sup>2</sup></p>
            </div>
            <div class="home__price">
                <svg>
                    <use xlink:href="../assets/images/sprite.svg#icon-key"></use>
                </svg>
                <p>$1,200,000</p>
            </div>
            <button class="btn home__btn">Contact realtor</button>
        </div>
        <!-- Card ends -->

           <!-- Card starts 2 -->
           <div class="home">
            <img src="../assets/images/house-1.jpeg" alt="House 1" class="home__img">
            <svg class="home__like">
                <use xlink:href="img/sprite.svg#icon-heart-full"></use>
            </svg>
            <h5 class="home__name">Beautiful Familiy House</h5>
            <div class="home__location">
                <svg>
                    <use xlink:href="../assets/images/sprite.svg#icon-map-pin"></use>
                </svg>
                <p>USA</p>
            </div>
            <div class="home__rooms">
                <svg>
                    <use xlink:href="../assets/images/sprite.svg#icon-profile-male"></use>
                </svg>
                <p>5 rooms</p>
            </div>
            <div class="home__area">
                <svg>
                    <use xlink:href="../assets/images/sprite.svg#icon-expand"></use>
                </svg>
                <p>325 m<sup>2</sup></p>
            </div>
            <div class="home__price">
                <svg>
                    <use xlink:href="../assets/images/sprite.svg#icon-key"></use>
                </svg>
                <p>$1,200,000</p>
            </div>
            <button class="btn home__btn">Contact realtor</button>
        </div>
        <!-- Card ends -->

           <!-- Card starts 3 -->
           <div class="home">
            <img src="../assets/images/house-1.jpeg" alt="House 1" class="home__img">
            <svg class="home__like">
                <use xlink:href="img/sprite.svg#icon-heart-full"></use>
            </svg>
            <h5 class="home__name">Beautiful Familiy House</h5>
            <div class="home__location">
                <svg>
                    <use xlink:href="../assets/images/sprite.svg#icon-map-pin"></use>
                </svg>
                <p>USA</p>
            </div>
            <div class="home__rooms">
                <svg>
                    <use xlink:href="../assets/images/sprite.svg#icon-profile-male"></use>
                </svg>
                <p>5 rooms</p>
            </div>
            <div class="home__area">
                <svg>
                    <use xlink:href="../assets/images/sprite.svg#icon-expand"></use>
                </svg>
                <p>325 m<sup>2</sup></p>
            </div>
            <div class="home__price">
                <svg>
                    <use xlink:href="../assets/images/sprite.svg#icon-key"></use>
                </svg>
                <p>$1,200,000</p>
            </div>
            <button class="btn home__btn">Contact realtor</button>
        </div>
        <!-- Card ends -->

           <!-- Card starts 4 -->
           <div class="home">
            <img src="../assets/images/house-1.jpeg" alt="House 1" class="home__img">
            <svg class="home__like">
                <use xlink:href="img/sprite.svg#icon-heart-full"></use>
            </svg>
            <h5 class="home__name">Beautiful Familiy House</h5>
            <div class="home__location">
                <svg>
                    <use xlink:href="../assets/images/sprite.svg#icon-map-pin"></use>
                </svg>
                <p>USA</p>
            </div>
            <div class="home__rooms">
                <svg>
                    <use xlink:href="../assets/images/sprite.svg#icon-profile-male"></use>
                </svg>
                <p>5 rooms</p>
            </div>
            <div class="home__area">
                <svg>
                    <use xlink:href="../assets/images/sprite.svg#icon-expand"></use>
                </svg>
                <p>325 m<sup>2</sup></p>
            </div>
            <div class="home__price">
                <svg>
                    <use xlink:href="../assets/images/sprite.svg#icon-key"></use>
                </svg>
                <p>$1,200,000</p>
            </div>
            <button class="btn home__btn">Contact realtor</button>
        </div>
        <!-- Card ends -->

           <!-- Card starts 5 -->
           <div class="home">
            <img src="../assets/images/house-1.jpeg" alt="House 1" class="home__img">
            <svg class="home__like">
                <use xlink:href="img/sprite.svg#icon-heart-full"></use>
            </svg>
            <h5 class="home__name">Beautiful Familiy House</h5>
            <div class="home__location">
                <svg>
                    <use xlink:href="../assets/images/sprite.svg#icon-map-pin"></use>
                </svg>
                <p>USA</p>
            </div>
            <div class="home__rooms">
                <svg>
                    <use xlink:href="../assets/images/sprite.svg#icon-profile-male"></use>
                </svg>
                <p>5 rooms</p>
            </div>
            <div class="home__area">
                <svg>
                    <use xlink:href="../assets/images/sprite.svg#icon-expand"></use>
                </svg>
                <p>325 m<sup>2</sup></p>
            </div>
            <div class="home__price">
                <svg>
                    <use xlink:href="../assets/images/sprite.svg#icon-key"></use>
                </svg>
                <p>$1,200,000</p>
            </div>
            <button class="btn home__btn">Contact realtor</button>
        </div>
        <!-- Card ends -->

           <!-- Card starts -->
           <div class="home">
            <img src="../assets/images/house-1.jpeg" alt="House 1" class="home__img">
            <svg class="home__like">
                <use xlink:href="img/sprite.svg#icon-heart-full"></use>
            </svg>
            <h5 class="home__name">Beautiful Familiy House</h5>
            <div class="home__location">
                <svg>
                    <use xlink:href="../assets/images/sprite.svg#icon-map-pin"></use>
                </svg>
                <p>USA</p>
            </div>
            <div class="home__rooms">
                <svg>
                    <use xlink:href="../assets/images/sprite.svg#icon-profile-male"></use>
                </svg>
                <p>5 rooms</p>
            </div>
            <div class="home__area">
                <svg>
                    <use xlink:href="../assets/images/sprite.svg#icon-expand"></use>
                </svg>
                <p>325 m<sup>2</sup></p>
            </div>
            <div class="home__price">
                <svg>
                    <use xlink:href="../assets/images/sprite.svg#icon-key"></use>
                </svg>
                <p>$1,200,000</p>
            </div>
            <button class="btn home__btn">Contact realtor</button>
        </div>
        <!-- Card ends -->

    </section>
    <section class="gallery">Gallery</section>
    <footer class="footer">Footer</footer>
</div>